.DivGrid {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
  max-width: 100%;
  overflow: auto;
  min-height: fit-content;

  .empty {
    border: 1px solid blue;
  }
}
