@import 'tailwindcss';

@theme {
  --color-foreground: oklch(0 0 0);
  --color-background: oklch(0.95 0 0);
  --color-button: oklch(0.5 0.2 270);
  --max-width: 1100px;
  --font-mono:
    ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono',
    'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-foreground: oklch(1 0 0);
    --color-background: oklch(0 0 0);
    --color-button: oklch(0.9 0.05 270);
  }
}

@layer base {
  html,
  body {
    @apply w-screen h-screen overflow-auto;
  }

  body {
    @apply text-foreground bg-background;
  }

  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }

  img {
    @apply max-w-full h-auto block;
  }

  label {
    @apply flex flex-col gap-4;
  }

  button {
    @apply uppercase px-2 py-1 transition-colors bg-button text-background rounded-xs;
  }

  button:disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  button:not(:disabled):hover {
    @apply opacity-80;
  }

  input,
  select {
    @apply px-2 py-1 bg-foreground text-background rounded-xs transition-colors;
  }

  input:focus,
  select:focus {
    @apply outline-none ring-2 ring-offset-2 ring-offset-background ring-foreground;
  }
}
