:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono',
    'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono',
    'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

label {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  text-transform: uppercase;
}

button,
input {
  padding: 0.5rem 1rem;
}

input {
  background-color: rgb(var(--foreground-rgb));
  color: rgb(var(--background-rgb));
}
